body {
  font-family: Lato, "Microsoft YaHei", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #22C3AA;
  overflow-x: hidden;
  position: relative;
  height: 2000px;
}

.paper {
  background: url(../../blog/img/sketch.png);
  background-color: #EFEFEF;
  width: 1000px;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px #666;
  position: fixed;
  float: left;
  top: 50px;
}
.paper.paper__selected {
  z-index: 100;
}

.page {
  height: 300px;
}
