* {
    box-sizing: border-box;
}

.section {
    background-color: $clr-primary;
    color: $clr-lighter;
    padding: 50px;
    transition: 0.5s;

    &.initing {
        display: none;
    }

    &.leaving {
        background-color: $clr-contrast;
    }
}

.center {
    text-align: center;
}

.clearboth {
    clear: both;
}
