a {
    color: $clr-link;
    text-decoration: none;
    transition: 0.5s;
    
    &:hover {
        color: $clr-link--hover;
    }
    
    &.highlight {
        color: $clr-contrast;
        
        &:hover {
            color: $clr-dark;
        }
    }
}
