p {
    color: $clr-light;
}

h1 {
    text-shadow: 1px 2px $clr-primary, 2px 4px $clr-light;
    text-align: center;
    
    &+h2, &+p {
        margin-top: -0.5em;
    }
}

h2+h1 {
    margin-top: 0.8em;
}

ul {
    color: $clr-light;
}

#title {
    margin: 0.5em 0 0 0;
}

#subtitle {
    margin: 0.5em 0 0 0;
    color: $clr-light;
}

.tag-panel {
    max-width: 500px;
    margin: 15px auto;
}

.tag {
    background-color: $clr-light;
    color: $clr-primary;
    border-radius: 3px;
    display: inline-block;
    padding: 2px 8px;
    margin-right: 3px;
    margin-bottom: 3px;
    
    &.expert {
        background-color: $clr-darker;
        color: $clr-lighter;
    }
    &.familiar {
        background-color: $clr-dark;
        color: $clr-light;
    }
}

.content {
    max-width: 800px;
    margin: 0 auto;
}
